root = true

[*]
charset = utf-8
end_of_line = lf
indent_size = 4
indent_style = space
insert_final_newline = true
max_line_length = 140
tab_width = 4
dfmt_brace_style = otbs
dfmt_soft_max_line_length = 120
dfmt_space_after_cast = false
dfmt_space_after_keywords = false
dfmt_split_operator_at_line_end = true
#dfmt_align_switch_statements = false
dfmt_space_after_keywords = false
